

html,
body {
   background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
   font-family: 'Roboto', sans-serif;
   text-align: center;
   min-height: 100vh;
   display: flex;
   height: 100%;
   width: 100%;
   margin: 0;
}
